---
layout: default
title: Designer for your fintech project
cover: false
logo: true

---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="http://yuriy.eu">
            <img src="/assets/images/logo.svg" alt="Blog Logo" />
        </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </nav>
</header>


<main class="content" role="main">

    <article class="post">
		<section class="post-content">
			
			<div class="intro">
				<div class="intro-info">
						<div class="single-project-title"><b>Yuriy  – designer for your fin tech project</b></span></div>
				</div>
				<div class="preposition-text">
			
					Hello,</br></br>I am devoted to fin-tech industry and offer my expertise in user interfaces, user experience and information architecture.
			</div>
			
				
				<!-- <div class="preposition-intro">
				
					<div class="advantages">
				<div class="advantages-number"><img src="/assets/images/two.svg"></div>
						<div class="advantages-text">
							<div class="years">years</div>
							<div class="year-description">of experience in fin tech industry</div>
						</div>
					</div>
					
					<div class="advantages">
				<div class="advantages-number"><img src="/assets/images/five.svg"></div>
						<div class="advantages-text">
							<div class="years">years</div>
							<div class="year-description">of experience in branding, logo and UI/UX areas</div>
						</div>
					</div>
					
				</div>
	
		
		</div> -->
	


	
<div class="fin-projects ">
			
		<div class="fin-project-text">
			<div class="fin-ptoject-name">Profinancie iOS app</div>
			<div class="fin-ptoject-description">Co-lead role in designing user flow and UI for loan app. Developing UI for iOS app and marketing materials.</div>
			<a class="fin-ptoject-link" target="_blank" href="/projects/2016-05-01-profinacie.html">Check for more details</a>
		</div>
	
		<div class="fin-project-img profinacies"><img src="/assets/images/profinacie-preview.png"></div>
		
</div>
	
	
<div class="fin-projects ">
	
	<div class="fin-project-text weezzoo-mobile">
			<div class="fin-ptoject-name">MoneyPolo.world money transfers</div>
			<div class="fin-ptoject-description">Lead role in creating brand identity for digital money transfers. Developing UI and UX for transfer process and inside pages.</div>
			<a class="fin-ptoject-link" target="_blank" href="/projects/2017-04-24-mp-world.html">Check for more details</a>
		</div>
	
	<div class="fin-project-img"><img src="/assets/images/weezzo-preview.png"></div>
		
		
		<div class="fin-project-text weezzoo-desktop weezzo-padding">
			<div class="fin-ptoject-name">MoneyPolo.world money transfers</div>
			<div class="fin-ptoject-description">Lead role in creating UI and UX for transfer process and inside pages.</div>
			<a class="fin-ptoject-link" target="_blank" href="/projects/2017-04-24-mp-world.html">Check for more details</a>
		</div>
	
		
		
			</div>

	
	<div class="fin-projects mt">
			
				
		<div class="fin-project-text">
			<div class="fin-ptoject-name">Cash money transfers</div>
			<div class="fin-ptoject-description">Project manager and lead design role in redesigning experience for money transfer's internal system. Defining project goals, developing strategy and creating UI/UX.</br><i>(On request only)</i></div>
			<a class="fin-ptoject-link" href="mailto:yuriysteam@icloud.com" onclick="yaCounter45469323.reachGoal('mail-click'); return true;" target="_top">Request more details</a>
		
		</div>
	
		<div class="fin-project-img mt-cash"><img src="/assets/images/mt-preview.png"></div>
	</div>
	
<div class="contacts-d">
		Full list of works you may find in my <a href="/" target="_top">portfolio</a> or check my <a href="/cv">CV</a>. 
	
	
		
</div>



<div class="cv-wrapper process-d">
	
	<div class="pr-header">Like what you see?</div>
	I make digital products. Here is how:

				<div class="preposition-text-small">
					<b class="preposition-header">User research</b>
<p class="preposition-point">I get to know your clients. I understand their needs and tasks. This helps to create a product for them and come up with the original solutions.</p>

<b class="preposition-header">Product strategy</b>
<p class="preposition-point">I continue with idea generation, setting up goals and creating targets. Together we decide on a complexity of the task, what tools will be needed and set product direction.</p>

<b class="preposition-header">UI/UX design</b>
<p class="preposition-point">I design the whole experience of how your product communicates and interact across different devices and environments.</p>

<b class="preposition-header">Prototyping and testing</b>
<p class="preposition-point">To ensure the quality and relevance, I build as many prototypes as possible.</p>

<b class="preposition-header">Implementation</b>
<p class="preposition-point">I prepare the final assets for you and support the development process to verify the final result.</p>

<b class="preposition-header">Project maintanance</b>
<p class="preposition-point">I can help you to keep your project in great shape and updated with latest UI/UX practices.
</p>
				</div>
			

	
	
</div> 
	
	<div class="contacts-d">
		<div class="contacts-h">Would like to learn more?</div>
		Contact me by <a href="mailto:yuriysteam@icloud.com" onclick="yaCounter45469323.reachGoal('mail-click'); return true;" target="_top">mail</a></br>or call <a href="tel:+420777149078" onclick="yaCounter45469323.reachGoal('tel-click'); return true;">+420 777 149 078</a>. 
	
	
		
</div>
			
		</section>
	</article>
</main>	