---
layout: default
title: Contact
cover: false
logo: true

---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="/assets/images/logo.svg" alt="Blog Logo" />
        </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </nav>
</header>


<main class="content" role="main">

    <article class="post">
		<section class="post-content">
			
			<div class="intro">
				<div class="intro-info">
						<div class="single-project-title">Yuriy  – designer for your fin tech project</span></div>
				</div>
				<div class="preposition-text">
			
					Hello,</br></br>I am devoted to fin tech industry and offer my expertise in user interfaces, user experience and information architecture.  I work for your customers and always think what goals and tasks they want to acomplish.
			</div>
			
				
				<!-- <div class="preposition-intro">
				
					<div class="advantages">
				<div class="advantages-number"><img src="/assets/images/two.svg"></div>
						<div class="advantages-text">
							<div class="years">years</div>
							<div class="year-description">of experience in fin tech industry</div>
						</div>
					</div>
					
					<div class="advantages">
				<div class="advantages-number"><img src="/assets/images/five.svg"></div>
						<div class="advantages-text">
							<div class="years">years</div>
							<div class="year-description">of experience in branding, logo and UI/UX areas</div>
						</div>
					</div>
					
				</div>
	
		
		</div> -->
	
	<div class="cv-wrapper">
	
	
			
			
				<div class="cv-header">What I did for fin tech</div>
	</div>


	
<div class="fin-projects profinacies">
			
		<div class="fin-project-text">
			<div class="fin-ptoject-name">Profinancie iOS app</div>
			<div class="fin-ptoject-description">Co-lead role in designing user flow and UI for loan app. Developing UI for iOS app and supportive materials.</div>
			<a class="fin-ptoject-link" target="_blank" href="/">Check for more details</a>
		</div>
	
		<div class="fin-project-img"><img src="/assets/images/profinacie-preview.png"></div>
		
</div>
	
	
<div class="fin-projects weezzoo">
	
	<div class="fin-project-text weezzoo-mobile">
			<div class="fin-ptoject-name">Weezoo money transfers</div>
			<div class="fin-ptoject-description">Lead role in creating brand identity for digital money transfers. Developing UI and UX for transfer process and inside pages.</div>
			<a class="fin-ptoject-link" target="_blank" href="/">Check for more details</a>
		</div>
	
	<div class="fin-project-img"><img src="/assets/images/weezzo-preview.png"></div>
		
		
		<div class="fin-project-text weezzoo-desktop">
			<div class="fin-ptoject-name">Weezoo money transfers</div>
			<div class="fin-ptoject-description">Lead role in creating brand identity for digital money transfers. Developing UI and UX for transfer process and inside pages.</div>
			<a class="fin-ptoject-link" target="_blank" href="/">Check for more details</a>
		</div>
	
		
		
			</div>

	
	<div class="fin-projects mt">
			
				
		<div class="fin-project-text ">
			<div class="fin-ptoject-name">Cash money transfers</div>
			<div class="fin-ptoject-description">Project manager and lead design role in redesigning experience for  money transfer's internal system. Setting up project goals and defining issues, developing stragey and creating UI/UX.</div>
			<a class="fin-ptoject-link" target="_blank" href="/">Check for more details</a>
		</div>
	
		<div class="fin-project-img"><img src="/assets/images/mt-preview.png"></div>
	</div>	



<div class="cv-wrapper">
	
	<div class="cv-header">It's not only about beauty</div>

				<div class="preposition-text-small">I see design in functionality, problem solving and human approach. Before starting all of my projects I define what main issues my design is going to solve. It can be a simple task, like represent a brand or a very complex problem with making the best system for money transfers. I do meaninful design.
				</div>
			
	<div class="cv-header">What's the process behind my desing?</div>
				
				<div class="preposition-text-small">I see design in functionality, problem solving and human approach. Before starting all of my projects I define what main issues my design is going to solve. It can be a simple task, like represent a brand or a very complex problem with making the best system for money transfers. I do meaninful design.
				</div>
	
	<div class="cv-header">My motivations</div>
				
				<div class="preposition-text-small">I see design in functionality, problem solving and human approach. Before starting all of my projects I define what main issues my design is going to solve. It can be a simple task, like represent a brand or a very complex problem with making the best system for money transfers. I do meaninful design.
				</div>
	
	<div class="cv-header">Usefull links and info</div>
				
				<div class="preposition-text-small">I see design in functionality, problem solving and human approach. Before starting all of my projects I define what main issues my design is going to solve. It can be a simple task, like represent a brand or a very complex problem with making the best system for money transfers. I do meaninful design.
				</div>

</div> 
		
			
		</section>
	</article>
</main>	