* {
border: 0px green dashed; 
}


@font-face {
    font-family: 'tf2build';
    src: url('../font/tf2build-webfont.woff') format('woff');
}

body {
	background-color:#141313;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#cacaca;
	font-size:14px;
	line-height:22px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration:none;
    color:#f7af51;
}

a:hover {
	color:#bf7b23;
}

img {
	border:none;
}

.clear {
clear:both;}

/* Backgrounds*/

#bg_01 {
       background-image:url(../images/header.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
    background-image:url(../images/header.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
    height:975px;
}
    
#bg_02 {
	background-image:url(../images/bg_2.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02 {
    background-image:url(../images/bg_2.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1096px;
	
}

#bg_03 {
	background-image:url(../images/bg_3.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_03 {
    background-image:url(../images/bg_3.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1578px;
	
}

#bg_04 {
	background-image:url(../images/bg_4.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
    background-image:url(../images/bg_4.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1089px;
	
}

#bg_05 {
	background-image:url(../images/bg_5.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
    background-image:url(../images/bg_5.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1234px;
	
}


/* Texts */

#hero-text {
position: absolute;
width: 660px;
text-align: center;
color: #cacaca;
left: 180px;
top: 50px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#greetings {
position: absolute;
width: 200px;
text-align: left;
color: #cacaca;
left: 630px;
top: 300px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.concern-header {
    font-family: "tf2build";
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 30px;
}

#mojo {
position: absolute;
width: 250px;
text-align: left;
color: #cacaca;
left: 120px;
top: 430px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#flamesmodel {
position: absolute;
width: 250px;
text-align: right;
color: #cacaca;
left: 650px;
top: 1050px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#airblast {
position: absolute;
width: 350px;
text-align: center;
color: #cacaca;
left: 340px;
top: 70px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#afterburn {
position: absolute;
width: 230px;
text-align: left;
color: #cacaca;
left: 115px;
top: 920px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#view {
position: absolute;
width: 230px;
text-align: left;
color: #cacaca;
left: 405px;
top: 920px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#abrange {
position: absolute;
width: 230px;
text-align: left;
color: #cacaca;
left: 685px;
top: 920px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#whywecare {
position: absolute;
width: 660px;
text-align: center;
color: #cacaca;
left: 180px;
top: 150px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#insite {
position: absolute;
width: 600px;
text-align: center;
color: #cacaca;
left: 240px;
top: 550px;
font-size: 16px;
line-height: 24px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#footer {
position: absolute;
width: 660px;
text-align: center;
color: rgba(202, 202, 202, 0.62);
left: 180px;
top: 1190px;
font-size: 12px;
line-height: 0px;
}


/* Players table */

#pyro_wrap {
    position: absolute;
    width: 660px;
    font-size: 14px;
    left: 180px;
    top: 600px;
    line-height:18px;
}

#pyro_wrap a {
    color: #cacaca;
}

#ugc {
width:100%;
text-align: center;
margin-bottom: 30px;
vertical-align: top;
}

.wrap-header {
width: 100%;
    font-family: "tf2build";
    font-size: 32px;
    margin-bottom: 20px;
    color:#f7af51;
}

#etfl {
float:left;
width:49%;
    margin-bottom: 30px;
}

#aus {
    float:right;
    width:49%;
    margin-bottom: 30px;
}

.player {
    width: 75px;
    display:inline-block;
    text-align: center;
    vertical-align: top;
}

.player_img img{
width:60px;
height: 60px;
background-color: azure;
    margin: 0 auto;
}

.player_name {
margin-top:10px;
}


/* Social block*/

#social-wrap {
position: absolute;
    width: 660px;
    font-size: 14px;
    left: 240px;
    top: 500px;
    line-height: 18px;
}

.social {
    width: 145px;
    display:inline-block;
    text-align: center;
    vertical-align: top;
}

