---
layout: default
title: Contact
cover: false
logo: true

---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="/assets/images/logo.png" alt="Blog Logo" />
        </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </nav>
</header>

<div class="contact">
    
Hello, my name is Yuriy.
<br>
<br>
I am a graphic designer from Russia currently living and studying in Prague. Most inspiration I find in meaningful, logical and reasonable things.<br>
<br>For project inquiries or just a friendly hello, please contact me by e-mail:
       
	<a href="mailto:yuriysteam@icloud.com"><div class="email">yuriysteam@icloud.com</div></a>
    
</div>  

<div class="contact-grid">
    <a href="http://dribbble.com/YuriySteam">Dribbble</a>
	<a href="http://twitter.com/yuriysteam">Twitter</a>
	<a href="http://www.instagram.com/yuriysteam/">Instagram</a>
</div>  