---
layout: default
title: Kill all unnecessary
cover: false
logo: true


---

{% include navigation.html %}

<main class="content" role="main">

    <article class="post">
		<section class="post-content">
			
			<div class="intro">
				<div class="intro-info">
					<div class="single-project-title">Kill all <strike>unnecessary</strike></div>
				</div>
				<div class="intro-text">
			
					<div class="intro-cv">My weekly posts about regular things and how to simplify them for people with the design. Those can be an advertisement, letter, electronics or form on a web page.</div>
				
			</div>
			</div>
			
			<div class="cv-wrapper">

<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    
  </p>
{% endfor %}
				
	
	<div class="contact-row">
		<div class="contact-message">
			
			Want to propose a better solution? Or maybe a challange for me?</br>
Send me <a href="mailto:yuriysteam@icloud.com" target="_top">mail</a> or drop a line in <a href="https://t.me/yuriysteam">Telegram</a>.</div>
</div>

    </div>

	
		</section>
	</article>
</main>	