.dropdown-menu, .filter-option {
  .has-icon {
    margin-left: 100px;
  }
  .select-icon {
    width: 100px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 10px;

    &.ic-qiwi {
      background: url("../img/ic_qiwi.png") center center no-repeat;
    }
    &.ic-okpay {
      background: url("../img/ic_okpay.png") center center no-repeat;
    }
    &.ic-cashu {
      background: url("../img/ic_cashu.png") center center no-repeat;
    }
    &.ic-rbk {
      background: url("../img/ic_rbk.png") center center no-repeat;
    }
    &.ic-sofort {
      background: url("../img/ic_sofort.png") center center no-repeat;
    }
    &.ic-webmoney {
      background: url("../img/ic_webmoney.png") center center no-repeat;
    }
    &.ic-bitcoin {
      background: url("../img/ic_bitcoin.png") center center no-repeat;
    }
    &.ic-trustly {
      background: url("../img/ic_trustly.png") center center no-repeat;
    }
  }
}

.dropdown-menu {
  li.active {
    .select-icon {
      &.ic-qiwi {
        background: url("../img/ic_qiwi_selected.png") center center no-repeat;
      }
      &.ic-okpay {
        background: url("../img/ic_okpay_selected.png") center center no-repeat;
      }
      &.ic-cashu {
        background: url("../img/ic_cashu_selected.png") center center no-repeat;
      }
      &.ic-rbk {
        background: url("../img/ic_rbk_selected.png") center center no-repeat;
      }
      &.ic-sofort {
        background: url("../img/ic_sofort_selected.png") center center no-repeat;
      }
      &.ic-webmoney {
        background: url("../img/ic_webmoney_selected.png") center center no-repeat;
      }
      &.ic-bitcoin {
        background: url("../img/ic_bitcoin_selected.png") center center no-repeat;
      }
      &.ic-trustly {
        background: url("../img/ic_trustly_selected.png") center center no-repeat;
      }
    }
  }
}

.emoney-option {
  text-align: center;
  .select-icon {
    width: 100px;
    height: 48px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.emoney-option .select-icon, .payment-icon {
  &.ic-qiwi {
    background: url("../img/ic_qiwi.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-okpay {
    background: url("../img/ic_okpay.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-cashu {
    background: url("../img/ic_cashu.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-rbk {
    background: url("../img/ic_rbk.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-sofort {
    background: url("../img/ic_sofort.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-webmoney {
    background: url("../img/ic_webmoney.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-bitcoin {
    background: url("../img/ic_bitcoin.png") center center no-repeat;
    background-size: contain;
  }
  &.ic-trustly {
    background: url("../img/ic_trustly.png") center center no-repeat;
    background-size: contain;
  }
}