body {
	background: url("../images/bg-top.png") ;
	background-repeat: no-repeat;
    background-position: center top;
}

.site-container {
	max-width: 1170px; 
	margin: 0 auto; 
	padding-top: 21px;
}

.logo-top {
	width: 247px;
	height: 39px;
}

.laptop-bg {
	background: url("../images/comp@2x.png");
	background-repeat: no-repeat;
	background-size: 86%;
    background-position: 75% bottom;
    height: 500px;
}

.header-h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.1px;
  color: #0e0e0e;
  margin-top: 101px;
}

.header-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #363636;
  margin-top: 30px;
}

.my-btn {
  width: 264px;
  height: 50px;
  border-radius: 20px;
  background-color: #37bea9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 53px;
}

.my-btn span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.login-wrapper {
    display: inline-flex;
    border-radius: 20px;
    border: solid 2px #37bea9;
    padding: 8px 25px;
    cursor: pointer;
}

.login-wrapper div {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
  	letter-spacing: 0px;
  	text-align: center;
  	color: #0e0e0e;
}

.login-wrapper .btn-login {
	border-right: solid 1px #37bea9;
	padding-right: 20px;
	cursor: pointer;
}

.login-wrapper .btn-signup {
	padding-left: 20px;
	cursor: pointer;
}

.list-wrapper {
	display: flex;
}

.list-wrapper.one {
	margin-top: 46px;
}

.list-wrapper.two {
	margin-top: 46px;
}

.list-wrapper.three {
	margin-top: 28px;
}

.list-number {
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #1a1718;
    border: solid 2px #37bea9;
    padding: 13px 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    align-self: flex-start;
}


.instruction-step p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #2d2d2d;
  font-weight: normal;
}

.instruction-step p:first-child {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #0e0e0e;
}

.mini-forms-wrapper {
	height: 364px;
	background: url("../images/payment_example@2x.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: right bottom;
}

.advantages {
	margin-top: 117px;
}

.advantage-header {
	display: flex;
}

.advantage-header img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.advantage-header h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.advantage-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	letter-spacing: 0px;
  	color: #0e0e0e;
  	margin-top: 20px;
}

.rates {
	margin-top: 85px;
}

.weezrates-wrapper {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.1);
}

.rates-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.rates-header .line {
    width: 25%;
    height: 2px;
    background: #d8d8d8;
    margin-top: 12px;
}

.rates-header .h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  letter-spacing: 0.1px;
  color: #0e0e0e;
  margin-left: 40px;
  margin-right: 40px;
}

.rates-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 46px;
}

.accept-header,
.buy-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 18px;
}

.accept-line,
.buy-line {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #0e0e0e;
  text-align: left;
}

.accept-line .cents,
.buy-line .cents{
  font-size: 30px;
}

.accept-line .currency,
.buy-line .currency {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  color: #515151;
}

.rates-footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.my-btn.setup-payments {
	margin-top: 0px;
	position: relative;
	top: 25px;
}

.fees {
	margin-top: 114px;
	margin-bottom: 46px;
}

.fees-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  letter-spacing: 0.1px;
  color: #0e0e0e;
}

.fees-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #0e0e0e;
  margin-bottom: 28px;
}

.fees-options tr {
	margin-bottom: 7px;
}

.fees-options td {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  color: #0e0e0e;
  padding-bottom: 7px;
}

.fees-options td.bold {
	font-weight: bold;
}

ul.withdrawal-option {
    padding-left: 20px;
}

.withdrawal-option li {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  color: #0e0e0e;
  margin-bottom: 7px;
}

.illo-end {
	width: 223px;
	height: 263px;
	position: relative;
    bottom: 60px;
    left: 50px;
}

.footer {
	background: #37bea9;
	padding: 69px 15px 60px 15px;
}

.logo-footer {
	width: 247px;
	height: 39px;
}

.footer-about,
.footer-contact {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  color: #b9f6eb;
}

.about-header,
.contact-header {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}


@media (min-width: 768px) and (max-width: 992px){
	.header-h1 {
		margin-top: 59px;
		line-height: 1.17;
  		letter-spacing: 0.1px;
	}

	.mini-forms-wrapper {
		background: url("../images/payment_cryptoshop@2x.png");
		height: 364px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right bottom;
		position: relative;
    	top: 20px;
	}

	.fees {
		margin-top: 80px;
	}

	.fees-lists {
		margin-bottom: 80px;
	}

	.advantage-header h4 {
		font-size: 14px;
	}

	.logo-footer {
		width: 213px;
		height: 33px;
	}
}

@media (max-width: 767px) {
	#mainNav {
		position: absolute;
		background: transparent;
    	border: none;
	}

	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background: none !important;
	}

	.hamburger,
	.cross {
		display: none;
	}

	.navbar-toggle.collapsed .hamburger {
		display: inline;
	}

	.navbar-toggle:not(.collapsed) .cross {
		display: inline;
	}

	.navbar-default .navbar-toggle {
		float: left;
		border: none;
		z-index: 999;
		margin-left: 5px;
    	margin-top: 15px;
	}

	#bs-example-navbar-collapse-1 {
    	border-radius: 0 0 8px 8px;
    	border-top: none;
  		background-color: #ffffff;
  		box-shadow: 0 3px 4px 0 rgba(0, 95, 174, 0.2);
	}

	.navbar-default .navbar-nav>li>a {
	    font-family: 'Open Sans', sans-serif;
	    font-size: 18px;
	    color: #363636;
	    border-bottom: solid 1px #d8d8d8;
	    width: 85%;
	    margin: 5px 17px;
	    padding: 9px 15px 12px 0px;
	}

	.navbar-default .navbar-nav>li:last-child>a {
		border-bottom: none;
	}

	.logo-top-mobile {
		text-align: center;
	}

	.comp-bg-mobile {
		background: url("../images/comp_mobile@2x.png");
   		background-repeat: no-repeat;
    	background-size: contain;
    	background-position: 100% 10%;
	}

	.header-h1 {
		margin-top: 0px;
		font-size: 34px;
  		line-height: 1.29;
  		letter-spacing: 0.1px;
  		padding-top: 56px;
  		padding-bottom: 61px;
  		position: relative;
    	right: -14px;
	}

	.header-h1 span {
		display:block;
		width: 75%;
	}


	.header-info {
		font-size: 18px;
		text-align: center;
	}

	.my-btn.accepting-now {
		margin: 16px auto 0 auto;
	}

	.instruction-step p:first-child {
		font-size: 15px;
		text-indent: 30px;
	}

	.list-number {
		font-size: 11px;
		color: #12604f;
		font-weight: bold;
  		letter-spacing: 0px;
  		padding: 1px 6px;
  		position: absolute;
	}

	.advantages {
		margin-top: 50px;
	}

	.advantage-header h4 {
		font-size: 17px;
		padding-left: 45px;
	}

	.advantage-text {
		font-size: 14px;
		margin-top: 0px;
		padding-left: 45px;
	}

	.advantage-header img {
		width: 45px;
		height: 50px;
		margin-right: 10px;
		position: absolute;
		top: 8px;
		left: 6px;
	}

	.advantage-margin {
		margin-top: 30px;
	}

	.rates-header .h1 {
		font-size: 29px;
		letter-spacing: 0.1px;
	}

	.rates-header .line {
		display: none;
	}

	.rates-body {
		align-items: center;
    	flex-direction: column;
	}

	.accept-wrapper {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	.buy-wrapper {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	margin-top: 79px;
	}

	.accept-header,
	.buy-header {
		font-size: 16px;
  		font-weight: bold;
  		letter-spacing: 0.1px;
  		text-align: center;
  		color: #2d7768;
  		margin-bottom: 34px;
	}

	.accept-line,
	.buy-line {
		font-size: 29px;
  	    letter-spacing: 0.1px;
	}

	.accept-line .cents,
	.buy-line .cents{
  		font-size: 29px;
	}

	.accept-line .currency,
	.buy-line .currency {
		font-size: 15px;
		margin-left: 5px;
	}

	.rates-footer {
		margin-top: 45px;
	}

	.fees {
    	margin-top: 50px;
    	margin-bottom: 6px;
	}

	.fees-header {
		font-size: 29px;
  		letter-spacing: 0.1px;
	}

	.fees-title {
		margin-bottom: 12px;
    	margin-top: 29px;
	}

	.footer {
		margin-top: 47px;
		padding: 37px 0px 43px 0px;
	}

	.logo-footer {
		width: 173px;
		height: 28px;
		margin-bottom: 50px;
	}

	.footer-about {
		margin-bottom: 60px;
	}

}