<div class="contact-message">
		<h2>Design and Product Consultations </h2>
	Besides a full-time job, I'm helping designers, developers and small businesses. In the face-to-face format, I answer questions about design and products.
    
<ul>
<li>How to launch a product? Where to start?</li> 
    <li>How to hire designers for the task?</li>
    <li>How to manage your designers to meet deadlines?</li>
    <li>How to stop wasting resources?</li>
    
</ul>
    
    
    <br>Meeting happening over Skype or in person (in Prague only). I don't work with hands. Send me <a href="mailto:yuriysteam@icloud.com" target="_top">a mail</a> or write on <a href="https://t.me/yuriysteam">Telegram</a>.
</div>