<div class="header-wrap">
	
	<div class="hero-message">
		<div class="hero-text">I help companies solve tough problems and deliver digital products</div>
		<div class="contact-message">I am solving design challenges and managing projects in fintech, banking and blockchain. 
		</div> 
	</div>
	

	<!--<div class="offer">
		<div class="offer-h">New in blog</div>
	<a class="new-promo" href="/desing/2019/04/16/scooter-sharing-watch-app.html">Scooter Sharing App for wearables</a></br>
	<a class="new-promo" href="/desing/2019/04/16/ux-micro-mobility.html">Ideas for scooter sharing experince</a>
		
		<!-- <div class="offer-h">Online Design Consultations</div>
	Discuss the design of apps and web services. Answer your questions, suggest and help to deliver the project.
		<div class="of-button-wrap">
			<a class="offer-button" onclick="ym(45469323, 'reachGoal', 'CONSULT'); return true;" href="/consultation">Ask for consultation</a>
		</div>

Онлайн дизайн консультации. И <a href="/consultation-ru">по-русски</a> тоже 
	</div>-->

</div>
