<div class="header-wrap">
	
	<div class="hero-message">
		<h1 class="hero-text">I’m fintech product designer and manager. I deliver digital products.</h1>
		<h2 class="contact-message">
			I design applications, web services, UX/UI for banks, strategy and branding for fintech startups. <!--Working as product designer in <a href="https://dynameyes.com" target="_blank">Dynameyes</a> -- and on my own projects ---><a href="https://twitter.com/YuriySteam" target="_blank" title="Twitter of Yuriy">Tweeting</a> and <a href="/blog" title="Yuriy's blog about design, finaces, travelling and interfaces">blog</a> about design, finances and interfaces.
		</h2>
	</div>
	

	<div class="offer">
		<div class="offer-h">Important</div>
	<a class="new-promo" title="Japanese stickers AppStore by Yuriy Shiryaev" href="/projects/japan-talks.html">Japanese stickers AppStore (free)</a><br/>
        <a class="new-promo" title="Scooter App for wearables by Yuriy Shiryaev" href="/desing/2019/04/16/scooter-sharing-watch-app.html">Scooter App for wearables</a><br/>
    <a class="new-promo" title="Why do you need design" href="design/2020/03/04/what-is-design.html">Why do you need design</a><br/>
   
    
		
		<!-- <div class="offer-h">Online Design Consultations</div>
	Discuss the design of apps and web services. Answer your questions, suggest and help to deliver the project.
		<div class="of-button-wrap">
			<a class="offer-button" onclick="ym(45469323, 'reachGoal', 'CONSULT'); return true;" href="/consultation">Ask for consultation</a>
		</div>
I help companies solve tough problems and deliver digital products.
Solving design challenges and managing projects in fintech, banking, transportation and blockchain.

Онлайн дизайн консультации. И <a href="/consultation-ru">по-русски</a> тоже -->
	</div>

</div>
