<div class="contact-message">
		<!--<div class="contact-message">Currently working as chief of product design at <a href="http://xixoio.com" target="_blank">XIXOIO</a>.</br></br>-->
	Besides my full time job, I'm managing and helping designers, working on transportation projects and trying to help out non-profit organizations and local governments with pro-bono strategy and design work.</br>Contact me by <a href="mailto:yuriysteam@icloud.com" target="_top">mail</a> or on <a href="https://t.me/yuriysteam">Telegram</a>.</div>
</div>