<div class="header-wrap">
	
	<div class="hero-message">
		<div class="hero-text">I am product designer and manager. I help solve tough problems and deliver digital products.</div>
		<div class="contact-message">
			I design applications, web services, information systems and branding. <!--Working as product designer in <a href="https://dynameyes.com" target="_blank">Dynameyes</a> -- and on my own projects ---><a href="https://twitter.com/YuriySteam" target="_blank">Tweeting</a> and <a href="/blog">blog</a> about interfaces.
		</div> 
	</div>
	

	<div class="offer">
		<div class="offer-h">Important</div>
	<a class="new-promo" href="/desing/2019/04/16/scooter-sharing-watch-app.html">Scooter App for wearables</a><br/>
    <a class="new-promo" href="/projects/links-awakening.html">Zelda Telegram stickers</a><br/>
    South Korea 7 — 10 Nov<br/>
    Japan 10 — 23 Nov<br/>
		
		<!-- <div class="offer-h">Online Design Consultations</div>
	Discuss the design of apps and web services. Answer your questions, suggest and help to deliver the project.
		<div class="of-button-wrap">
			<a class="offer-button" onclick="ym(45469323, 'reachGoal', 'CONSULT'); return true;" href="/consultation">Ask for consultation</a>
		</div>
I help companies solve tough problems and deliver digital products.
Solving design challenges and managing projects in fintech, banking, transportation and blockchain.

Онлайн дизайн консультации. И <a href="/consultation-ru">по-русски</a> тоже -->
	</div>

</div>
