<div class="cv-wrapper process-d">
	
	<div class="pr-header">My process to deliver products</div>
	
				<div class="preposition-text-small">
					<b class="preposition-header">User research</b>
<p class="preposition-point">I get to know your clients. I understand their needs and tasks. This helps to create a product for them and come up with the original solutions.</p>

<b class="preposition-header">Product strategy</b>
<p class="preposition-point">I continue with the idea, setting up goals and targets. We decide on the complexity of the task, what tools will be needed and product direction.</p>

<b class="preposition-header">UI/UX design</b>
<p class="preposition-point">Design of the product experience, different states and interactions across different devices and platforms.</p>

<b class="preposition-header">Prototyping and testing</b>
<p class="preposition-point">To ensure the quality, I build and test as many prototypes as possible.</p>

<b class="preposition-header">Implementation</b>
<p class="preposition-point">I prepare the final assets for you and support the development process to verify and deliver the high-quality final result.</p>

<b class="preposition-header">Project management</b>
<p class="preposition-point">I help to keep your project in great shape and update and with the latest design practices.
</p>
				</div>
			

