body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c2c2c2;
  padding: 13px 0px;
  font-size: 18px;
}

.logo {
  font-weight: bold;
}

.content {
  display: flex;
  margin: 40px 0px;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.options-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 21px;
}

.items-wrapper {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.item-button {
  width: 107px;
  height: 107px;
  background: #f8f8f8;
  border-radius: 7px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-image: url("images/forms/circle.png");
  background-size: contain;
  width: 56px;
  height: 56px;
}

.rect {
  background-image: url("images/forms/rectangle.png");
  background-size: contain;
  width: 50px;
  height: 50px;
}

.sector {
  background-image: url("images/forms/sector.png");
  background-size: contain;
  width: 56px;
  height: 56px;
}

.moscow {
  background-image: url(images/brands/moscow.png);
  background-size: 250px;
  background-position: center;
  width: 100px;
  height: 100px;
}

.perm {
  background-image: url(images/brands/perm.png);
  background-size: 250px;
  background-position: center;
  width: 100px;
  height: 100px;
}

.cat {
  background-image: url("images/patterns/cat.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
}

.bird {
  background-image: url("images/patterns/bird.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
}

.item-button.active {
  background: #2739de;
}

.item-title {
  font-size: 14px;
}

.canvas-area {
  margin-bottom: 65px;
  width: 500px;
  height: 500px;
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#mainLayer {
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: center, center, center;
}

.action-button {
  background: #2739de;
  border-radius: 7px;
  font-size: 24px;
  color: #fff;
  width: 350px;
  padding: 26px 0 25px 0;
  text-align: center;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #c2c2c2;
  padding: 13px 0px;
  font-size: 14px;
}
