@font-face {
  font-family: "SpaceGrotesk";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/SpaceGrotesk-Regular.woff"), url("../fonts/SpaceGrotesk-Regular.woff2"); }

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/SpaceGrotesk-Bold.woff"), url("../fonts/SpaceGrotesk-Bold.woff2"); }

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/SpaceGrotesk-Medium.woff"), url("../fonts/SpaceGrotesk-Medium.woff2"); }

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/SpaceGrotesk-Light.woff"), url("../fonts/SpaceGrotesk-Light.woff2"); }

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/SpaceGrotesk-SemiBold.woff"), url("../fonts/SpaceGrotesk-SemiBold.woff2"); }

* {
  margin: 0; }

a {
  text-decoration: none; }

body {
  display: flex;
  justify-content: center;
  font-family: 'SpaceGrotesk', sans-serif; }

.main {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center; }

.section1 {
  width: 100%;
  height: 807px;
  font-family: 'SpaceGrotesk', sans-serif;
  background: linear-gradient(to top, #fff 37%, #f9f9f9 37%, #f9f9f9 63%, #f9f9f9 63%);
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-bottom: 110px; }
  .section1 .logo {
    margin-top: 40px;
    margin-bottom: 60px;
    height: 25px; }
  .section1 .header {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    color: #262626;
    padding: 10px 0; }
  .section1 .text {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    color: #353535; }
  .section1 .button {
    width: 180px;
    border-radius: 4px;
    background-color: #019b5b;
    margin-top: 40px;
    padding: 12.5px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    cursor: pointer; }
  .section1 video {
    margin-top: 50px;
    max-width: 940px;
    width: 100%;
    height: 489px;
    border-radius: 4px;
    box-shadow: 0 2px 40px 0 rgba(82, 82, 82, 0.13); }

.section2 {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  max-width: 940px;
  width: 100%; }
  .section2 .header {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #262626;
    padding-bottom: 14px;
    padding: 10px 0; }
  .section2 .text {
    font-size: 20px;
    font-weight: 300;
    color: #262626;
    padding-bottom: 10px;
    max-width: 500px; }
  .section2 img {
    width: 100%;
    max-width: 100%;
    height: 542px; }

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 940px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 95px; }
  .section3 .header {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #262626;
    padding-bottom: 30px;
    padding: 10px 0; }
  .section3 .text {
    font-size: 17px;
    color: #262626;
    max-width: 370px; }
  .section3 .text-mobile {
    display: none; }
  .section3 .img-wrapper {
    width: 50%; }
  .section3 img {
    width: 100%;
    height: 296px; }
  .section3 .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%; }
    .section3 .text-wrapper .text-subtitle {
      font-size: 15px;
      font-weight: 500;
      color: #818181; }
    .section3 .text-wrapper .text-header {
      font-size: 31px;
      font-weight: 500;
      color: #262626;
      padding: 15px 0; }
  .section3 .wrapper {
    display: flex;
    width: 100%; }

.section4 {
  border-radius: 4px;
  background-color: #03363d;
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px;
  justify-content: space-between;
  box-sizing: border-box; }
  .section4 .header {
    font-size: 38px;
    font-weight: 500;
    color: #ffffff;
    width: 70%;
    display: flex;
    justify-content: center; }
  .section4 .header-img {
    padding: 0 10px; }
  .section4 .section4-image {
    width: 322px;
    height: 87px; }

.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(to bottom, #fff 23%, #f9f9f9 23%, #f9f9f9 77%, #f9f9f9 77%); }

footer {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  width: 100%;
  box-sizing: border-box;
  padding: 48px 0; }
  footer .footer-logo {
    font-size: 15px;
    color: #262626; }
  footer .footer-links {
    font-size: 15px;
    text-align: right;
    color: #262626;
    display: flex;
    flex-direction: column; }
    footer .footer-links .link {
      color: #262626;
      padding-bottom: 12px; }

.section4-button {
  display: none; }

@media screen and (max-width: 940px) {
  .text,
  .header {
    padding: 0 12px; }
  .section1 {
    height: 580px; }
    .section1 .logo {
      margin-top: 20px;
      margin-bottom: 40px; }
    .section1 .header {
      font-size: 32px; }
    .section1 .text {
      font-size: 18px; }
    .section1 .button {
      width: 270px;
      margin-top: 20px; }
    .section1 video {
      margin-top: 24px;
      height: 350px;
      min-height: 350px; }
  .section2 .header {
    font-size: 26px;
    padding: 0 12px; }
  .section2 .text {
    font-size: 20px;
    font-weight: 300;
    color: #262626;
    padding-bottom: 10px;
    max-width: 500px; }
  .section2 img {
    width: 100%;
    max-width: 100%;
    height: 216px;
    max-height: 216px; }
  .section3 .header {
    font-size: 26px; }
  .section3 .text {
    display: none; }
  .section3 .text-mobile {
    display: flex;
    padding: 12px;
    font-size: 16px;
    color: #262626; }
  .section3 .img-wrapper {
    width: 100%; }
  .section3 img {
    width: 100%;
    height: 296px; }
  .section3 .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; }
    .section3 .text-wrapper .text-subtitle {
      font-size: 15px;
      padding: 6px 12px; }
    .section3 .text-wrapper .text-header {
      font-size: 20px;
      padding: 6px 12px; }
  .section3 .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .section4 {
    padding: 34px 30px 60px 30px; }
    .section4 .header {
      font-size: 28px;
      width: 100%;
      text-align: center;
      line-height: 1.5; }
    .section4 .header-img {
      display: none; }
    .section4 .section4-image {
      display: none; }
  .section4-button {
    display: flex;
    justify-content: center;
    width: 268px;
    border-radius: 4px;
    background-color: #019b5b;
    margin-top: -20px;
    padding: 12.5px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 70px; }
  .footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(to bottom, #fff 60%, #f9f9f9 60%, #f9f9f9 40%, #f9f9f9 40%); }
  footer {
    flex-direction: column;
    padding: 30px 13px; }
    footer .footer-logo {
      padding-bottom: 20px; }
    footer .footer-links {
      font-size: 13px;
      text-align: left; } }
