---
layout: default
title: CV
cover: false
logo: true

---

<meta property="og:url" content="http://yuriy.eu{{ page.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ site.name }} – {{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ page.project-cover }}" />
<meta property="fb:app_id" content="1496306313741117" />


<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.url }}">
            <img src="/assets/images/logo.svg" alt="Blog Logo" />
        </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">
		<section class="post-content">
			
			<div class="intro">
				<div class="intro-info">
						<div class="single-project-title">Symbols</div>
				</div>
				<div class="intro-text">
			
					<div class="intro-cv">A useful set of typographic characters and symbols to copy and use in your work.</div>
				
			</div>
			</div>
			
			<div class="cv-wrapper">
				<div class="fin-ptoject-name">Dashes</div>
				
				<div class="symbol_wrap">
					<div class="symbol_box">
						<div class="symbol_char">&#8208;</div>
						<div class="symbol_text">Hyphen</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">–</div>
						<div class="symbol_text">En-dash</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&#8212;</div>
						<div class="symbol_text">Em-dash</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">―</div>
						<div class="symbol_text">Horizontal bar</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">-</div>
						<div class="symbol_text">Hyphen-Minus</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&minus;</div>
						<div class="symbol_text">Minus</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">‒</div>
						<div class="symbol_text">Figure dash</div>
					</div>
					
				</div>
				
				<div class="fin-ptoject-name">Apostrophes & Quotes</div>
				
				<div class="symbol_wrap">
					
					<div class="symbol_box">
						<div class="symbol_char">‘</div>
						<div class="symbol_text">Opening Single Quote</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">’</div>
						<div class="symbol_text">Closing Single Quote and apostrophe</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">'</div>
						<div class="symbol_text">Typewriter apostrophe</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">“</div>
						<div class="symbol_text">Opening Double Quote</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">”</div>
						<div class="symbol_text">Closing Double Quote</div>
					</div>
					
				</div>
				
				<div class="fin-ptoject-name">Guillemet & Quotations</div>
				
				<div class="symbol_wrap">
					
					<div class="symbol_box">
						<div class="symbol_char">&laquo; &raquo;</div>
						<div class="symbol_text">Double angle quatations</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&lsaquo; &rsaquo;</div>
						<div class="symbol_text">Single angle quatations</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">&#xbb; &#xab;</div>
						<div class="symbol_text">Swedish angle quatations</div>
					</div>
					
					
					<div class="symbol_box">
						<div class="symbol_char">„</div>
						<div class="symbol_text">Double Low Quote</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">‚</div>
						<div class="symbol_text">Single Low Quote</div>
					</div>
				
					
					
				</div>
				
				
				<div class="fin-ptoject-name">Currencies </div>
				
				<div class="symbol_wrap">
					<div class="symbol_box">
						<div class="symbol_char">&euro;</div>
						<div class="symbol_text">Euro</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">&pound;</div>
						<div class="symbol_text">Pound</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&cent;</div>
						<div class="symbol_text">Cent</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&yen;</div>
						<div class="symbol_text">Yen</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&#8381;</div>
						<div class="symbol_text">Rubl</div>
					</div>
					
					
					
				</div>
				
				
				<div class="fin-ptoject-name">Math</div>
				
				<div class="symbol_wrap">
					
					<div class="symbol_box">
						<div class="symbol_char">&minus;</div>
						<div class="symbol_text">Minus</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&times;</div>
						<div class="symbol_text">Multiplication Sign</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&divide;</div>
						<div class="symbol_text">Division Sign</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">&plusmn;</div>
						<div class="symbol_text">Plus/Minus Sign</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&asymp;</div>
						<div class="symbol_text">Almost Equal</div>
					</div>

					
				</div>
				
				<div class="fin-ptoject-name">Slashes & Bars</div>
				
				<div class="symbol_wrap">
					
					<div class="symbol_box">
						<div class="symbol_char">⁄</div>
						<div class="symbol_text">Fraction slash</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">／</div>
						<div class="symbol_text">Fullwidth solidus</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∕</div>
						<div class="symbol_text">Division slash</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">|</div>
						<div class="symbol_text">Vertical bar</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣</div>
						<div class="symbol_text">Devision bar</div>
					</div>
				
				</div>
				
				<div class="fin-ptoject-name">Spaces</div>
				
				<div class="symbol_wrap">
					<div class="symbol_box">
						<div class="symbol_char">∣&Tab;∣</div>
						<div class="symbol_text">Tab</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣&nbsp;∣</div>
						<div class="symbol_text">Non-breaking space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">En quad</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Em quad</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">En space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Em space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Three-per-em space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Four-per-em space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Six-per-em space</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">∣ ∣</div>
						<div class="symbol_text">Thin space</div>
					</div>
					
				</div>
		
				
				
				<div class="fin-ptoject-name">Additional characters</div>
				
				<div class="symbol_wrap">
					<div class="symbol_box">
						<div class="symbol_char">&sect;</div>
						<div class="symbol_text">Section</div>
					</div>
				
					
					<div class="symbol_box">
						<div class="symbol_char">&para;</div>
						<div class="symbol_text">Paragraph</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&#8470;</div>
						<div class="symbol_text">Numero</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&bull;</div>
						<div class="symbol_text">Bullet</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&middot;</div>
						<div class="symbol_text">Middle Dot/Interpunct</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">&deg;</div>
						<div class="symbol_text">Degree</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">‽</div>
						<div class="symbol_text">Interrobang</div>
					</div>
					
					<div class="symbol_box">
						<div class="symbol_char">※</div>
						<div class="symbol_text">Komejirushi</div>
					</div>
					
				</div>
				
		

			</div>
				
			
		</section>
	</article>
</main>