---
layout: default
title: Projects
cover: false
logo: true


---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="/assets/images/logo.png" alt="Blog Logo" />
        </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </nav>
</header>
<div class="projects-grid">
	<div class="f-name">FF lijnen</div>
	<div class="f-features">
        <select id="features-select">
            <option value="#000">Black</option>
            <option value="#AE1C28">Dutch Red</option>
            <option value="#21468B">Dutch Blue</option>
            <option value="#FF0013">Moscow Red</option>
        </select>
		<div class="slider">
		<span>S</span>
		<input type="range" id="font-size" min="14" max="250"> 
		<span>XXL</span>
		</div>
	</div>
	<div class="f-showcase" id="font-sample" contenteditable="true">
     Amsterdam city
		</div>
	
	<div class="f-showcase-full" contenteditable="true">
     ABCDEFGHIJKLMNOPQRSTUVWXYZ
абвгдеёжзиклмнопрстуфхцчшщъыьэюя
1234567890@!?&amp;#$€%
		</div>

	
	<div class="contact-row">
		<div class="contact-message">I'd love to hear about your next project.</br>
Contact me by <a href="mailto:yuriysteam@icloud.com" target="_top">mail</a> or on <a href="http://twitter.com/yuriysteam">Twitter</a>.</div>
</div>

    </div>
 