	* {
	border: 0px dashed green;
}

.projects-grid2 {
	padding: 0 2%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.projects-grid2 a {
	border-bottom: none;
}



.full {
width: 100%;
margin-bottom: 20px;
max-height: 400px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	
}

.half {
	width: 48%;
	padding: 0px;
	margin: 20px 0;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.seven {
	width: 70%;
	padding: 0px;
	margin-bottom: 20px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.three {
	width: 24%;
	padding: 0px;
	margin-bottom: 20px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.three-v {
		width: 24%;
		 flex-flow: column wrap;
	margin-bottom: 20px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	}

.text-name {
	font-size: 2.4rem;
	margin: 40px 0;
}

.image-name {
	margin: -10px 0 20px;
}

.no-name {
	display: none;
}


.item-titel {
	display: inline-block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bab9b8;
	transition-property: border-bottom, border-color, background, color, fill;
	transition-duration: .33s;
	transition-timing-function: ease-out;
	font-size: 18px;
}

.item-description {
	font-size: 16px;
	color: dimgrey;
}

.sngl-prj-covr {
	padding-top: 30%;
	background-position: center;
background-size: cover;
background-repeat: no-repeat;
	background-color: #fff;
	
}

.dark-bg {
	background: #050505;
	color: white;
}

.dark-bg.post-content {
	color: white;
}

.customfont {
	font-size: 30px;
	line-height: 1.1em;
	float: left;
	color: #020202;
}

.hero-text {
	font-size: 3.7em;
	text-align: left;
	margin-top: 30px;
	color: #171717;
	max-width: 800px;
	font-weight: bold;
	line-height: 1.1em;
	
}

@media only screen and (max-width: 750px) {
	
	.half {
	width: 100%;
	}
	
	.seven {
		width: 100%;
	}
	.three {
		width: 100%;
	}
	
	.three-v {
		width: 100%;
		 flex-flow: column wrap;
	}
	
	.sngl-prj-covr {
		padding-top: 32%;
	}
	
	.hero-text {
	font-size: 2.3em;
	text-align: left;
	margin-top: 30px;
	color: #171717;
	max-width: 800px;
	font-weight: bold;
	line-height: 1.1em;
	
}
}


