	* {
	border: 0px dashed green;
}


.projects-grid2 {
	padding: 0 2%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}


.full {
width: 100%;
margin-bottom: 40px;
max-height: 400px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	border-bottom-width: 0px;
    border-bottom-style: none;
	
}

.half {
	width: 48%;
	padding: 0px;
	margin-bottom: 30px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	border-bottom-width: 0px;
    border-bottom-style: none;
	background-color: transparent;
}

.seven {
	width: 70%;
	padding: 0px;
	margin-bottom: 40px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	border-bottom-width: 0px;
    border-bottom-style: none;
	background-color: transparent;
}

.three {
	width: 28%;
	padding: 0px;
    margin-bottom: 40px;
	
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	border-bottom-width: 0px;
    border-bottom-style: none;
	background-color: transparent;
}

.product {
	width: 24%;
	padding: 0px;
	margin-bottom: 40px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
	border-bottom-width: 0px;
    border-bottom-style: none;
	background-color: transparent;
}

.region_type {
    font-size: 40px;
    text-align: center;
   padding: 0 20%;
    line-height: 1.2;
}



/* Korean part */

.korean-grid {
padding: 3% 2%;
max-width: 1440px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}



.k-big-title {
    display: block;
    font-size: 72px;  
    line-height: 1.1;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.k-middle-title  {
    font-size: 65px;
    display: block;
    line-height: 1.1;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.k-small-title  {
    font-size: 34px;
    line-height: 1.2;
    font-weight: bold;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.russian {
    font-family: 'Montserrat', sans-serif;
}

post-content .russian h1 h2 h3 h4 h5 {
    font-family: 'Montserrat', sans-serif;
}



.korea-description {
    display: block;
    font-size: 26px;
    color: #1c1c1c;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


a.half:hover {
	border-bottom-width: 0px;
    border-bottom-style: none;
}

a.full:hover {
	border-bottom-width: 0px;
    border-bottom-style: none;
}

a.seven:hover {
	border-bottom-width: 0px;
    border-bottom-style: none;
}

a.three:hover {
	border-bottom-width: 0px;
    border-bottom-style: none;
}

a.product:hover {
	border-bottom-width: 0px;
    border-bottom-style: none;
}

.single-project-cover:hover {
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    transition: transform 0.125s ease-out
}

.sngl-prj-covr:hover {
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    transition: transform 0.125s ease-out
}

.text-name {
	font-size: 2.4rem;
	margin: 40px 0;
}

.image-name {
	z-index:999;
}

.no-name {
	display: none;
}


.item-titel {
transition: color ease 0.3s;
text-decoration: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #d8d8d8;
transition-property: border-bottom, border-color, background, color, fill;
transition-duration: .33s;
transition-timing-function: ease-out;
padding-bottom: 2px;
font-size: 18px;
font-weight: bold;
    line-height: 1em;
    
}

h3.item-titel {
    margin-top: 0;
}

.three:hover .item-titel {
border-bottom-color: #3c3b3b;
}

.half:hover .item-titel {
border-bottom-color: #3c3b3b;
}

.seven:hover .item-titel {
border-bottom-color: #3c3b3b;
}

.product:hover .item-titel {
border-bottom-color: #3c3b3b;
}

.item-description {
	font-size: 16px;
	color: dimgrey;
    line-height: 1.2em;
    margin-top: 5px;

}

.sngl-prj-covr {
	padding-top: 30%;
	background-position: center;
background-size: cover;
background-repeat: no-repeat;
	
}

.dark-bg {
	background: #050505;
	color: #bfbfbf;
}

.dark-bg.post-content {
	color: #bfbfbf;
}

.dark-bg .single-project-title {
	color: #bfbfbf;
}

.dark-bg.post-content {
	color: #bfbfbf;
}

.customfont {
	font-size: 30px;
	line-height: 1.1em;
	float: left;
	color: #020202;
}

.hero-text {
	font-size: 3.5em;
	text-align: left;
	color: #171717;
	max-width: 1000px;
	font-weight: bold;
	line-height: 1.1em;
	
}

.hero-blog-text {
	font-size: 3.9em;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 70px;
	margin-left: 160px;
	color: #080808;
	font-weight: bold;
	line-height: 1.1em;
	
}

.tcomment {
	margin-left: 5px;
}

.promo {
	font-size: 1.5em;
	line-height: 1.2em;
	text-align: left;
	border-top: 1px solid #EBF2F6;
	display: flex;
	padding-top:2rem;
	text-align: left;
    max-width: 1000px;
	
}

.promo-image {
	width: 100px;
	margin-right: 30px;
	height: 100px;
}

.promo-text {
	display: inline;
}

.header-wrap {
	display: flex;
	width: 100%;
	margin-top: 30px;
    margin-bottom: 30px;
}

.hero-message {
	display: block;
	width: 80%;
}

.offer {
	padding-left: 20px;
	display: block;
	margin-top: 15px;
	border-left: 0px solid #e6e6e6;
	margin-left: 10px;
	max-width: 400px;
}

.new-promo {
	margin-bottom: 10px;
}

.offer-button {
cursor: pointer;
padding: 10px 18px 7px;
height: 36px;
border: none;
border-radius: 3px;
font-size: 20px;
line-height: 36px;
text-align: center;
background-image: none;
white-space: nowrap;
background: #e9673e;
text-decoration: none;
color: white;
    margin-right: 20px;
}

a.offer-button {
	color: white;
}

.offer-button:hover {
	text-decoration: none;
	color: white;
	border-bottom-width: 0px;
}

.of-button-wrap {
	margin: 10px 0 0px;
	text-align: left;
    display: flex;
    align-items: center;
}

.offer-h {
	font-size: 1.2em;
	line-height: 1.1em;
	font-weight: bold;
	margin-bottom: 10px;
}

.new-promo {
transition: color ease 0.3s;
text-decoration: none;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #d8d8d8;
transition-property: border-bottom, border-color, background, color, fill;
transition-duration: .33s;
transition-timing-function: ease-out;
}

.project-content {
	font-size: 22px;
line-height: 1.3em;
margin-bottom: 20px;
padding: 0;
}

.tall {padding-top:500px;}


.course-title {font-size: 120px;
    font-weight: bold;
line-height: 1.1em;
padding: 0;}


input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
margin-left: 5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.apple-switch:checked {
  box-shadow: inset 20px 0 0 0 #E9673E;
  border-color: #e2e2e2;
    border: 1px solid #E9673E;
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.0);
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding-top: 12px;
   
}


/* Guroteska part */

@font-face {
	font-family: "Gurotesuka";
	src: url("/projects_img/kanjiaday/Gurotesuka-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	
}

.guroteskawrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.guroteskachar {
    width: 30px;
    font-family: "Gurotesuka";
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.guroteskacharm {
    width: 69px;
    font-family: "Gurotesuka";
    font-size: 50px;
    padding: 20px 20px 20px 0px;
    text-align: center;
}

.guroteskacharw {
    width: 55px;
    font-family: "Gurotesuka";
    font-size: 50px;
    padding: 20px;
    text-align: center;
}


@media only screen and (max-width: 900px) {
	
	.half {
	width: 100%;
        margin-bottom: 20px;
	}
	
	.seven {
		width: 100%;
        margin-bottom: 20px;
	}
	.three {
		width: 100%;
        margin-bottom: 20px;
	}
    
    .product {
		width: 100%;
        margin-bottom: 20px;
	}
	
	.three-v {
		width: 100%;
		 flex-flow: column wrap;
	}
	
	.sngl-prj-covr {
		padding-top: 32%;
	}
	
	.hero-text {
	font-size: 2.3em;
	text-align: left;
	color: #171717;
	max-width: 800px;
	font-weight: bold;
	line-height: 1.1em;
    letter-spacing: -1px;
    
	
}
	.header-wrap {
	display: block;
	width: 100%;
    
}
	
	.hero-message {
	display: block;
	width: 100%;
    
}
	
	.offer {
	padding-left: 0px;
	margin-top: 40px;
	margin-left: 0px;
	border: 0;
	width: 100%;
}
	.project-content {
	font-size: 22px;
line-height: 1.3em;
margin-bottom: 20px;
	}
    
    .course-title {font-size: 70px;
    font-weight: bold;
line-height: 1.1em;
padding: 0;}
	
	.k-big-title {
    display: block;
    font-size: 32px;  
    line-height: 1.2;
    font-weight: bold;  
}


.k-middle-title  {
    font-size: 32px;
    display: block;
    line-height: 1.1;
    font-weight: bold;
}

.k-small-title  {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    display: block;
}

.korea-description {
    display: block;
    font-size: 18px;
    color: #1c1c1c;
    margin-top: 10px;
    font-weight: 400;
}
	
}

 /*Text and background color for dark mode */

@media (prefers-color-scheme: dark) {
  body {
	  caret-color: white;
    color: #ddc;
    background-color: #14191c;
  }
    
    
    .intro-text {
        background: #14191c;
    }
	
	a {
		color: #ddc;
		border-bottom-color: #646464;
	}
	
	a:hover {color: #ebebeb;
	border-bottom-color: #a0a0a0;}
	
	h1,h2,h3,h4,h5,h6 {color: #ddc;}
	.hero-text {color: #ddc;}
	.contact-message {color: #ddc;}
	.single-project-title {color: #ddc;}
    .single-project-title-cv {color: #ddc;}
	
	.main-nav.overlay a:hover {color: #ddc;
	border-bottom-color: #ddc;}
	.search-nav {
		background-color: #14191c;
		color: #ddc;
	}
	
	.post-name a:hover {color: #ebebeb;
	border-bottom-color:#ddc;}
	
	.post-share a {color: #ddc;
	border-bottom-color:#818080;}
	.post-share a:hover {color: #ddc;
	border-bottom-color:#ddc;}
	
	.post-date {color:#9b9b9b;}
	
	blockquote {color: #9a9999;}
	
	.promo {border-top: 1px solid #6f6f6f}
	
	.post-content a:hover {
		color:#e05919;
		border-bottom-color: #FC6720;
	}
	.post-content a {color:#e05919;}
	
	.site-footer a:hover {
		color: #ddc;
	}
	
	.cv-header {color: #ddc;}
	
	code, tt {
		background: #2e2e2e;
		border: 1px solid #4d4d4d;
	}
     .back-button {color: #ddc;}
    
    .korea-description { 
    color: #ddc;
}
    .intro-link {
     background: #2f2f2f; 
    }
    
    .item-titel {
border-bottom-color: #848484;
}
    
     .item-titel:hover {
border-bottom-color: #bfbebe;
}
    
    
    
    .three:hover .item-titel {
border-bottom-color: #bfbebe;
}

.half:hover .item-titel {
border-bottom-color: #bfbebe;
}

.seven:hover .item-titel {
border-bottom-color: #bfbebe;
}

.product:hover .item-titel {
border-bottom-color: #bfbebe;
}
	
}


