html, body {
  height: 100%;
}


@font-face {
  /* Downloaded from axis-praxis.org, font from https://github.com/TypeNetwork/fb-Amstelvar. */
  src: url("/vf/assets/fonts/AmstelvarAlpha-Variations.ttf")
    format("truetype");
  font-family: Amstelvar;
}

body {
    font-family: Amstelvar;
  margin: 0;
  display: flex;
color: fff;
text-align: center;    
    

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
    
    font-size: 200px;
  font-variation-settings: "wght" 10, "wdth" 0, "opsz" 10;
}