html, body {
  height: 100%;
}


@font-face {
  /* Downloaded from axis-praxis.org, font from https://github.com/TypeNetwork/fb-Amstelvar. */
  src: url("/vf/assets/fonts/FromLustraGX.ttf")
    format("truetype");
  font-family: FromLustraGX;
}

body {
    font-family: FromLustraGX;
  margin: 0;
text-align: center; 
  justify-content: center;
  align-items: center;
      background-color: pink;
    
}

.name {
    font-size: 100px;
    max-width: 900px;
    display: block;
     margin: 90px auto 90px;
     justify-content: center;
  align-items: center;
  transform: rotate(-16deg);
  background-color: pink;
text-transform: uppercase;
    font-variation-settings: "wght" 100, "wdth" 0px;
    

    
}

.start {
    display: block;
    color: white;
    font-size: 20px;
    background: red;
    padding: 10px 20px;
    margin: 20px auto;
    width: 90px;
    
}


#drop-region {
	background-color: #fff;
	border-radius:20px;
	box-shadow:0 0 35px rgba(0,0,0,0.05);
	width:400px;
	padding:60px 40px;
	text-align: center;
	cursor:pointer;
	transition:.3s;
}
#drop-region:hover {
	box-shadow:0 0 45px rgba(0,0,0,0.1);
}

#image-preview {
	margin-top:20px;
}
#image-preview .image-view {
    display: inline-block;
	position:relative;
	margin-right: 13px;
	margin-bottom: 13px;
}
#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}
#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}