html, body {
  height: 100%;
}


@font-face {
  /* Downloaded from axis-praxis.org, font from https://github.com/TypeNetwork/fb-Amstelvar. */
  src: url("/vf/assets/fonts/FromLustraGX.ttf")
    format("truetype");
  font-family: FromLustraGX;
}

body {
    font-family: FromLustraGX;
  margin: 0;
text-align: center; 
  justify-content: center;
  align-items: center;
      background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


    
}

.name {
    font-size: 100px;
    max-width: 900px;
    display: block;
    font-size: 160px;
     margin: 90px auto 90px;
     justify-content: center;
  align-items: center;
  transform: rotate(-16deg);
text-transform: uppercase;
    font-variation-settings: "wght" 100, "wdth" 0px;
    

    
}

.start {
    display: block;
    color: white;
    font-size: 20px;
    background: #2b1bea;
    padding: 10px 20px;
    margin: 20px auto;
     transform: rotate(-18deg);
    width: 90px;
    
}
