---
layout: none
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	

    <title>{{ site.name }} - {%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name=”keywords” content=”design, fintech, designer, UX, banking, product design, branding, startups, UI” />
	<meta property="og:url" content="https://yuriy.eu{{ page.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ site.name }} - {%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:image" content="https://yuriy.eu/{{ page.new-cover }}" />
	<meta property="og:image:width" content="960px" />
	<meta property="og:image:height" content="770px" />
	<meta property="fb:app_id" content="1496306313741117" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
	<meta name="yandex-verification" content="0542dd8789b34050" />
	
	<link async rel="stylesheet" type="text/css" href="/assets/css/microtype.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
	
    <meta name="yandex-verification" content="0542dd8789b34050" />
	
 
    <!-- Customisation  -->
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(45469323, "init", {
        id:45469323,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45469323" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
   

</head>


<body>


<div class="wrapper">
    
    <h1 class="headline">{{ page.title }}</h1>
    
 <div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
   <label for="tab1">🇬🇧</label>
   <input id="tab2" type="radio" name="tabs">
   <label for="tab2">🇷🇺</label>
   <input id="tab3" type="radio" name="tabs">
   <label for="tab3">🇨🇿</label>
   <input id="tab4" type="radio" name="tabs">
   <label for="tab4">🇩🇪</label>
     <input id="tab5" type="radio" name="tabs">
   <label for="tab5">🇯🇵</label>  
   <div class="content">
      <div id="content1">
<div class="example">
    Erik (1930<span class="orange">—</span>2010) was waiting for the <span class="orange">‘</span>GRW <span class="orange">“</span>Cornishman<span class="orange">”</span> Express<span class="orange">’</span>. Train came 24<span class="orange">/</span>02<span class="orange">/</span>2007 at 07<span class="orange">.</span>50 or 7<span class="orange">.</span>50&nbsp;a.m. Ticket was expensive <span class="orange">£</span>12<span class="orange">&nbsp;</span>300<span class="orange">.</span>50. But in menu were: tea<span class="orange">,</span> tea, tea and whiskey 40<span class="orange">°</span>. Restaurant was open 08:00<span class="orange">&ndash;</span>20:00.
    

    </div>
      </div>

      <div id="content2">
<div class="example">
    Павел (1930<span class="orange">&thinsp;—&thinsp;</span>2010) ждал поезд <span class="orange">№</span>&nbsp;245 <span class="orange">«</span>Серебряная стрела<span class="orange">»</span> или <span class="orange">„</span>Стрелка<span class="orange">“</span>. Он пришел 24<span class="orange">.</span>02<span class="orange">.</span>&thinsp;2007 в 10<span class="orange">:</span>50. Билет был дорогой 12<span class="orangebg">&thinsp;</span>300<span class="orange">,</span>50<span class="orange"><span class="orangebg">&thinsp;</span>₽</span>. Но в меню были: чай, бутерброды, рассол и водка 40<span class="orange">°</span>. Рестаран был открыт 10:00<span class="orange">–</span>20:00. Пока Павел думал, поезд Москва<span class="orange"><span class="orangebg">&thinsp;</span>—<span class="orangebg">&thinsp;</span></span>Владивосток, ушел.
    </div>
      </div>

      <div id="content3">
<div class="example">
    František (<span class="orange">*</span>&thinsp;1930 <span class="orange">†</span>&thinsp;2010) čekal vlak <span class="orange">„</span>Pendolino<span class="orange">“</span> alternativní <span class="orange">»</span>Pendo<span class="orange">«</span>. Vlak přišel 24<span class="orange">.</span><span class="orangebg">&thinsp;</span>02<span class="orange">.</span><span class="orangebg">&thinsp;</span>2007 v 10<span class="orange">:</span>50. Jizdenka byla dráha 12<span class="orangebg">&thinsp;</span>300<span class="orange">,</span>50&nbsp;<span class="orange">Kč</span>. Ale v restaurace je dobra nabídka: šunka <span class="orange">/</span> syr / čaj / pivo 12<span class="orange">°</span>. Otevřena 10.00<span class="orange">—</span>20.00 hodin. Vlak šel trasou Praha<span class="orange">—</span>Berlín.
    </div>
      </div>
     
      <div id="content4">
<div class="example">Demnächst</div>
      </div>
       
       <div id="content5">
        <div class="example">すぐに</div>
      </div>
   </div>

</div>
    
    <div class="back-url"><a href="{{ site.url }}">Back to projects</a></div>
    
    </div>
    
    
        
    
    </body>
    
    <script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("lang");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
</script>
    
</html>
