---
layout: default

---


{% include navigation.html %}


<main class="content" role="main">

    <article class="post">
		<section class="post-content">
			
			<div class="intro">
				<div class="intro-info">
					<div class="single-project-title"><b>Hello {{ page.company }}!</br>I am the {{ page.designer }}product designer for your task.</b></span></div>
				</div>
				<div class="preposition-text">{{ page.intro }}</div>
			
	
		
		</div> 
	
	<div class="fin-projects">
		<div class="fin-project-text">
			<div class="fin-ptoject-name">{{ page.project1 }}</div>
			<div class="fin-ptoject-description">{{ page.project1text }}</div><a class="fin-ptoject-link" target="_blank" href="{{ page.project1url }}">{{ page.project1link }}</a>
		</div>
		<div class="fin-project-img"><a target="_blank" href="{{ page.project1url }}"><img src="/assets/images/{{ page.project1img }}.png"></a></div>
</div>
	
	<div class="fin-projects">
		<div class="fin-project-text">
			<div class="fin-ptoject-name">{{ page.project2 }}</div>
			<div class="fin-ptoject-description">{{ page.project2text }}</div><a class="fin-ptoject-link" target="_blank" href="{{ page.project2url }}">{{ page.project2link }}</a>
		</div>
		<div class="fin-project-img"><a target="_blank" href="{{ page.project2url }}"><img src="/assets/images/{{ page.project2img }}.png"></a></div>
</div>
	
	<div class="fin-projects">
		<div class="fin-project-text">
			<div class="fin-ptoject-name">{{ page.project3 }}</div>
			<div class="fin-ptoject-description">{{ page.project3text }}</div><a class="fin-ptoject-link" target="_blank" href="{{ page.project3url }}">{{ page.project3link }}</a>
		</div>
		<div class="fin-project-img"><a target="_blank" href="{{ page.project3url }}"><img src="/assets/images/{{ page.project3img }}.png"></a></div>
</div>

	
<div class="contacts-s">
		Other projects in the <a class="gray-links" href="/" target="_blank">portfolio</a> &amp; work experince in <a class="gray-links" href="/cv" target="_blank">CV</a>
	
	
		
</div>


{% include design-process.html %}



</div> 
	
	<div class="contacts-d">
		Write an <a class="gray-links" href="mailto:yuriysteam@icloud.com" onclick="yaCounter45469323.reachGoal('mail-click'); return true;" target="_top">e-mail</a> or <a class="gray-links" href="tel:+420777149078" onclick="yaCounter45469323.reachGoal('tel-click'); return true;">+420 777 149 078</a> to discuss your project. 	
</div>
			
		</section>
	</article>
</main>	