---
layout: default
post_class: post-template page-template
---

<nav class="main-nav clearfix">
    <a class="back-button russian icon-arrow-left" href="{{ site.url }}/korea">Все статьи про Южную Корею</a>
</nav>

<main class="content russian" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%} 
            </a>
        </header> -->

        <h1 class="post-title russian">{{ page.title }}</h1>

        <section class="post-content russian">
            {{content}}
        </section>

    </article>

</main>
