---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head no-cover">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.url }}/travel/">To all trips</a>
        <a class="post-logo" href="{{ site.baseurl }}">
                    <img src="/assets/images/logo.svg" alt="Blog Logo" />
                </a>
       <!-- <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a> -->
    </nav>
</header>

<div class="blog-wrapper">

<article class="content" role="main">

    

        <header class="post-header">
            <h1 class="post-name">{{ page.title }} </h1>
            <section class="post-meta">                
               
               {{ page.when }}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

       

        <footer class="post-footer">

            <!-- Share links section -->
            {% include share.html %}
            
            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}
            
        </footer>

   

</article>
	
</div>	
